<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NSOEndingTreeMaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="NSOEndingTreeMaker.Directory" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<runtime>
		<bypassTrustedAppStrongNames enabled="true" />
	</runtime>
 <userSettings>
  <NSOEndingTreeMaker.Properties.Settings>
   <setting name="Directory" serializeAs="String">
    <value />
   </setting>
   <setting name="ExportDirectory" serializeAs="String">
    <value />
   </setting>
   <setting name="RecentClosedEndingTree" serializeAs="String">
    <value />
   </setting>
   <setting name="SlotOne" serializeAs="String">
    <value />
   </setting>
   <setting name="SlotTwo" serializeAs="String">
    <value />
   </setting>
   <setting name="SlotThree" serializeAs="String">
    <value />
   </setting>
   <setting name="SlotFour" serializeAs="String">
    <value />
   </setting>
   <setting name="SlotFive" serializeAs="String">
    <value />
   </setting>
   <setting name="PlayLogDirectory" serializeAs="String">
    <value />
   </setting>
  </NSOEndingTreeMaker.Properties.Settings>
  <NSOEndingTreeMaker.Directory>
   <setting name="Directory" serializeAs="String">
    <value />
   </setting>
  </NSOEndingTreeMaker.Directory>
 </userSettings>
</configuration>